
.vs/AutodeskRevitAddition/v16/.suo
_OUT/net5.0-windows/CommonLibrary.deps.json
_OUT/net5.0-windows/CommonLibrary.dll
_OUT/net5.0-windows/CommonLibrary.pdb
_OUT/net5.0-windows/Create levels from Excel.xlsx
_OUT/net5.0-windows/CreateFloorPlugin.deps.json
_OUT/net5.0-windows/CreateFloorPlugin.dll
_OUT/net5.0-windows/CreateFloorPlugin.pdb
_OUT/net5.0-windows/ref/CommonLibrary.dll
_OUT/net5.0-windows/ref/CreateFloorPlugin.dll
_OUT/net5.0-windows/ref/RevitApp.dll
_OUT/net5.0-windows/RevitApp.deps.json
_OUT/net5.0-windows/RevitApp.dll
_OUT/net5.0-windows/RevitApp.exe
_OUT/net5.0-windows/RevitApp.pdb
_OUT/net5.0-windows/RevitApp.runtimeconfig.dev.json
_OUT/net5.0-windows/RevitApp.runtimeconfig.json
_OUT/net5.0-windows/System.ComponentModel.Composition.dll
CommonLibrary/obj/CommonLibrary.csproj.nuget.dgspec.json
CommonLibrary/obj/CommonLibrary.csproj.nuget.g.props
CommonLibrary/obj/CommonLibrary.csproj.nuget.g.targets
CommonLibrary/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.AssemblyInfo.cs
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.AssemblyInfoInputs.cache
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.assets.cache
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.csproj.CoreCompileInputs.cache
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.csproj.FileListAbsolute.txt
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.csprojAssemblyReference.cache
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.dll
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.GeneratedMSBuildEditorConfig.editorconfig
CommonLibrary/obj/Debug/net5.0-windows/CommonLibrary.pdb
CommonLibrary/obj/Debug/net5.0-windows/ref/CommonLibrary.dll
CommonLibrary/obj/project.assets.json
CommonLibrary/obj/project.nuget.cache
CreateFloorPlugin/obj/CreateFloorPlugin.csproj.nuget.dgspec.json
CreateFloorPlugin/obj/CreateFloorPlugin.csproj.nuget.g.props
CreateFloorPlugin/obj/CreateFloorPlugin.csproj.nuget.g.targets
CreateFloorPlugin/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.AssemblyInfo.cs
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.AssemblyInfoInputs.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.assets.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.csproj.CopyComplete
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.csproj.CoreCompileInputs.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.csproj.FileListAbsolute.txt
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.csproj.GenerateResource.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.csprojAssemblyReference.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.dll
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.g.resources
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.GeneratedMSBuildEditorConfig.editorconfig
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.pdb
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin.Properties.Resources.resources
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin_MarkupCompile.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/CreateFloorPlugin_MarkupCompile.i.cache
CreateFloorPlugin/obj/Debug/net5.0-windows/ref/CreateFloorPlugin.dll
CreateFloorPlugin/obj/Debug/net5.0-windows/ResourceDictionary/CreateFloorResourceDictionary.baml
CreateFloorPlugin/obj/project.assets.json
CreateFloorPlugin/obj/project.nuget.cache
RevitApp/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
RevitApp/obj/Debug/net5.0-windows/App.baml
RevitApp/obj/Debug/net5.0-windows/App.g.cs
RevitApp/obj/Debug/net5.0-windows/App.g.i.cs
RevitApp/obj/Debug/net5.0-windows/apphost.exe
RevitApp/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.cs
RevitApp/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
RevitApp/obj/Debug/net5.0-windows/ref/RevitApp.dll
RevitApp/obj/Debug/net5.0-windows/ResourceDictionaries/TemplateSelectors.baml
RevitApp/obj/Debug/net5.0-windows/RevitApp.AssemblyInfo.cs
RevitApp/obj/Debug/net5.0-windows/RevitApp.AssemblyInfoInputs.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.assets.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.csproj.CopyComplete
RevitApp/obj/Debug/net5.0-windows/RevitApp.csproj.CoreCompileInputs.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.csproj.FileListAbsolute.txt
RevitApp/obj/Debug/net5.0-windows/RevitApp.csproj.GenerateResource.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.csprojAssemblyReference.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.dll
RevitApp/obj/Debug/net5.0-windows/RevitApp.g.resources
RevitApp/obj/Debug/net5.0-windows/RevitApp.GeneratedMSBuildEditorConfig.editorconfig
RevitApp/obj/Debug/net5.0-windows/RevitApp.genruntimeconfig.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp.pdb
RevitApp/obj/Debug/net5.0-windows/RevitApp.Properties.Resources.resources
RevitApp/obj/Debug/net5.0-windows/RevitApp_MarkupCompile.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp_MarkupCompile.i.cache
RevitApp/obj/Debug/net5.0-windows/RevitApp_MarkupCompile.i.lref
RevitApp/obj/Debug/net5.0-windows/RevitApp_MarkupCompile.lref
RevitApp/obj/Debug/net5.0-windows/Views/MainView.baml
RevitApp/obj/Debug/net5.0-windows/Views/MainView.g.cs
RevitApp/obj/Debug/net5.0-windows/Views/MainView.g.i.cs
RevitApp/obj/project.assets.json
RevitApp/obj/project.nuget.cache
RevitApp/obj/RevitApp.csproj.nuget.dgspec.json
RevitApp/obj/RevitApp.csproj.nuget.g.props
RevitApp/obj/RevitApp.csproj.nuget.g.targets
.vs/AutodeskRevitAddition/DesignTimeBuild/.dtbcache.v2
